<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <script src="/static/js/cookies.js"></script>
    <script src="/static/js/api.js"></script>
    <script src="/static/js/index.js"></script>
    <title>Sh.rt!</title>
</head>

<body>
<div class="notification" id="notification">
        <span style="font-weight: 900;" id="notification-message">
            Текст уведомления. Может быть довольно длинным. Например, настолько.
        </span><br>
    <button class="button-small" onclick="hideNotification();">Close</button>
</div>

<div class="content">
    <div style="width: 300px;" class="div-last-links">
        <div class="div-last-link">
            <div class="div-short-link">
                <center>
                    <span class="title">
                    <span id="link" style="font-size: 50px;">{{ error_code }}.</span></span>
                </center>
                <br>
                <span class="link new-link">
                    {{ description }}
                </span>
            </div>

            <center>
                <button onclick="openUrl('/');" style="margin-top: 10px;" class="button-small"
                        id="copy">Вернуться на Sh.Rt!
                </button>
            </center>
        </div>
    </div>
</div>

</body>
</html>
