<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <script src="/static/js/cookies.js"></script>
    <script src="/static/js/api.js"></script>
    <script src="/static/js/index.js"></script>

    <title>Sh.rt!</title>
</head>

<body>

<div class="notification" id="notification">
        <span style="font-weight: 900;" id="notification-message">
            Текст уведомления. Может быть довольно длинным. Например, настолько.
        </span><br>
    <button class="button-small" onclick="hideNotification();">Close</button>
</div>

<div class="content">
    <div class="div-logo" style="width: 300px;">
            <span class="span-logo">
                <span class="color" id="color-logo"></span><span id="non-color-logo"></span>
            </span>
    </div>

    <script>
        type("color-logo", 'Sh.', 400);
        setTimeout(type, 1500, "non-color-logo", 'Rt!', 400)
    </script>

    <div class="div-input-link">
        <div class="div-input">
                <span class="span-input">
                    <input id="link" placeholder="Url">
                    <button onclick="cutLink();" id="get-link">Short It!</button>
                </span>
        </div>
    </div>

    <div class="div-last-links">
        <div id="last-link" class="div-last-link">
            <div class="div-short-link">
                <span id="old-link" class="link old-link">Old Link</span>
                <div><img style="margin-top: 2px;" src="/static/icons/bottom-arrow.png" class="icon-small"></div>
                <span id="new-link" class="link new-link">New Link</span>
            </div>

            <button style="margin-top: 10px;" class="button-small" id="copy">Копировать</button>
            <button style="margin-top: 10px;" class="button-small" id="link-statistics">Статистика ссылки</button>
        </div>
    </div>
</div>

<center>
    <div class="statistics">
        <span class="text">Вместе мы создали <span id="links-count">?</span> ссылок.</span>
        <span class="text span-link" onclick="updateStatistics();">Обновить</span>
    </div>
</center>

<script>updateStatistics();</script>

<footer>
    <a target="_blank" href="/api/v1/docs/"><span class="text span-link">API</span></a>,
    <a target="_blank" href="/api/v1/docs/download/"><span class="text span-link">Download docs</span></a>,

</footer>
</body>
</html>
