<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="/static/js/cookies.js"></script>
    <script src="/static/js/api.js"></script>
    <script src="/static/js/index.js"></script>
    <title>Sh.rt!</title>
</head>

<body>
<div class="notification" id="notification">
        <span style="font-weight: 900;" id="notification-message">
            Текст уведомления. Может быть довольно длинным. Например, настолько.
        </span><br>
    <button class="button-small" onclick="hideNotification();">Close</button>
</div>

<script>
        type("color-logo", 'Sh.', 400);
        setTimeout(type, 1500, "non-color-logo", 'Rt!', 400)

</script>

<div class="content">
    <div style="width: 300px;" class="div-last-links">
        <div class="div-last-link">
            <div class="div-short-link">
                <span class="title">
                    <span id="link">Ссылки не существует.</span></span>
                <br>
                <span class="text link">
                    Статистика открытия ссылки
                </span>
                <br><br>
                <span class="link new-link">
                    <img style="margin-top: 2px;" src="/static/icons/ok.png" class="icon-small">
                    Всего перешедших: <span id="passed">?</span> чел.
                </span><br>
                <span class="link new-link">
                    <img style="margin-top: 2px;" src="/static/icons/ok_purple.png" class="icon-small">
                    Уникальных перешедших: <span id="uniquePassed">?</span> чел.
                </span>
            </div>

            <button onclick="copyText(window.location.href);" style="margin-top: 10px;" class="button-small"
                    id="copy">Копировать ссылку на статистику
            </button>
            <br>
            <button onclick="copyText(getSitePath() + '{{ key }}');" style="margin-top: 10px;" class="button-small"
                    id="copy">Копировать ссылку
            </button>
        </div>
    </div>
    <div style="width: 300px;" class="div-last-links">
        <div class="div-last-link">
            <div class="div-short-link">
                <span class="title">
                    <span id="link">График переходов за последние 7 дней</span></span>
                <br><br>
                <canvas id="bar-chart" width="300" height="200"></canvas>
            </div>
        </div>
    </div>
    <br>
    <center>
        <button style="margin-top: 10px;" onclick="openUrl('/', true);" class="button-small">Создать новую ссылку</button>
    </center>
</div>
<script>
    setLinkStatistics("{{ key }}");
</script>

</body>
</html>
